section {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 85%;
  /* height: 80vh; */
}

.left-side-carousel {
  border-left: 2px solid aquamarine;
  padding: 80px;
  width: 40%;
}

.left-side-carousel h2 {
  color: white;
  display: inline;
  font-size: 3.5em;
}

.left-side-carousel span {
  font-size: 4em;
}

.right-side-carousel {
  align-items: center;
  border: 2px solid aquamarine;
  border-top: none;
  border-left: none;
  border-bottom: none;
  color: white;
  display: flex;
  /* flex-direction: column; */
  padding: 80px;
  width: 60%;
}

.right-side-carousel h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.right-side-carousel a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.right-side-carousel a:hover {
  opacity: 0.7;
}

.right-side-carousel p {
  margin-bottom: 10px;
}

.right-side-carousel img {
  border-radius: 10px;
  height: 50%;
  width: 50%;
  margin-right: 20px;
}

.color-green {
  color: aquamarine;
}
